body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1 {
    font-size: 1.5em;
    text-align: center;
}
#map {
	overflow: hidden;
	bottom: 0px;
    /*height: 100%;
    left: 362px;*/
    position: absolute;
    right: 0px;
    top: 4em;
}
.search {
	text-align: left;
    /*width: 340px;*/
}
.container {
	/*overflow-y: scroll;*/
	width: 304px;
    margin-left: 0;
   /* height: 100vh;  */ 
}
.restaurants-list {
	list-style-type: none;
  	margin: 0;
  	padding: 0em 0em 0em 0em;
    overflow-y: scroll;
    height: 96vh;
}
.restaurant-item:hover {
  background-color: #2b352f36;
  cursor: pointer;
}
.restaurant-item:focus {
  background-color: #3bdc8536;
}
.filter-restaurant {
  margin-left: 1em;
}
.container {
  background-color: #76918452;
}
.restaurant-item {
  padding-left: 1em;
}

@media screen and (max-width: 550px){
 .filter-restaurant {
  width:4.9em;
  margin-left: 0.2em;
 }
 .restaurants-list {
  font-size: x-small;
 }
 .wrapper {
  width: 22vw;
 }
}
